<div class="card">
    <div class="card-header">
        <span class="card-title">{{name}}</span>
        <div class="btn-toolbar btn-grid float-right" role="toolbar" aria-label="PiMaster Toolbar">
            <button href="#" role="button" class="btn btn-default">
                <span class="fa fa-video"></span>
            </button>
            <button href="#" id="pimaster-volume-mute" role="button" class="btn btn-default">
                <span class="fa fa-microphone"></span>
            </button>
            <button href="#" role="button" class="btn btn-danger">
                <span class="fa fa-power-off"></span>
            </button>
            <button href="#" role="button" class="btn btn-danger">
                <span class="fa fa-redo-alt"></span>
            </button>
        </div>
    </div>
    <div class="card-body">
        <div>
            <i>{{ip}}</i>
        </div>
        <div class="btn-group btn-group-lg">
            <button type="button" class="btn btn-primary">9 Screens
                <span class="fa fa-th"></span>
            </button>
            <button type="button" class="btn btn-primary">4 Screens
                <span class="fa fa-th-large"></span>
            </button>
            <button type="button" class="btn btn-primary">Solo
                <span class="fa fa-desktop"></span>
            </button>
        </div>

        
        <div class="float-right">
            <button id="restartTiles" class="btn btn-danger">Restart Tiles</button>
            <button id="shutdownAll" class="btn btn-danger">Shutdown All Slaves</button>
            <button id="rebootAll" class="btn btn-danger">Reboot All Slaves</button>
        </div>
        
        <div>
            {{#each data.videos}}
            <img src="{{thumbnail}}" id="video-{{@index}}" alt="{{title}}" width="120px"  class="img-thumbnail piwall-video"> {{/each}}
        </div>
    </div>

</div>
<div class="card-footer">
    Stats to come
</div>
</div>